<%- include('../partials/top') %>

<h1><%= post && post.title ? post.title : '' %></h1>

<p><%= post.content %></p>

<a href="/posts/<%= post.id %>/edit">수정</a>

<form action="/posts/<%= post.id %>?_method=DELETE" method="POST">
  <button type="submit">삭제</button>
</form>

<a href="/posts/<%= post.id %>/like">좋아요</a>
<a href="/posts/<%= post.id %>/repost">리포스트</a>
<a href="/posts">목록으로</a>

<%- include('../partials/bottom') %>
